# Especialització de DataScience de la IT ACADEMY
### *Sprint5 - Exercici 1*
#### Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.. 

#### Alumne: Jorge Prieto Rey

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import random as rd
from imblearn.over_sampling import SMOTE

In [2]:
# Resultados de la liga 
results = pd.read_csv('results.csv')
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [3]:
results.dtypes

date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [4]:
#Seleccionamos las columnas con valores númericos unicamente
results=results.select_dtypes(np.number)
results.head()

   home_score  away_score
0           0           0
1           4           2
2           2           1
3           2           2
4           3           0

In [5]:
results.describe().round(4)

       home_score  away_score
count  41243.0000  41243.0000
mean       1.7450      1.1893
std        1.7505      1.4066
min        0.0000      0.0000
25%        1.0000      0.0000
50%        1.0000      1.0000
75%        2.0000      2.0000
max       31.0000     21.0000

## **mostra aleatòria simple**

In [6]:
random_sample = results.sample(frac=0.2)
len(random_sample)

8249

In [7]:
random_sample

       home_score  away_score
36509           1           4
24810           0           0
29481           1           0
15269           2           1
22585           0           1
...           ...         ...
18840           1           1
28759           1           0
22443           1           0
4939            4           1
757             2           1

[8249 rows x 2 columns]

In [8]:
random_sample.describe().round(4)

       home_score  away_score
count   8249.0000   8249.0000
mean       1.7238      1.1961
std        1.7111      1.4053
min        0.0000      0.0000
25%        1.0000      0.0000
50%        1.0000      1.0000
75%        2.0000      2.0000
max       18.0000     19.0000

## **mostra sistemàtica**

In [9]:
# Define systematic sampling function
def systematic_sampling(df, step):
    index = np.arange(0, len(df), step=step)
    systematic_sample = df.iloc[index]
    return systematic_sample

In [10]:
# Obtain a systematic sample and save it in a new variable
systematic_sample = systematic_sampling(results, 200)
systematic_sample.describe().round()

       home_score  away_score
count       207.0       207.0
mean          2.0         1.0
std           2.0         1.0
min           0.0         0.0
25%           1.0         0.0
50%           2.0         1.0
75%           3.0         1.0
max           8.0         7.0

In [11]:
systematic_sample

       home_score  away_score
0               0           0
200             4           1
400             3           0
600             3           0
800             0           1
...           ...         ...
40400           2           0
40600           2           1
40800           2           1
41000           6           0
41200           0           1

[207 rows x 2 columns]

In [12]:
systematic_sample.describe().round(4)

       home_score  away_score
count    207.0000    207.0000
mean       1.7923      0.9758
std        1.5612      1.1297
min        0.0000      0.0000
25%        1.0000      0.0000
50%        2.0000      1.0000
75%        3.0000      1.0000
max        8.0000      7.0000

### *Sprint5 - Exercici 2*
#### Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

**Stratified Sampling**

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
train_test_split?

In [15]:
results.shape

(41243, 2)

In [24]:
X = results['home_score']

In [25]:
y = results["away_score"]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:
print(X_train.shape, y_train.shape)

(28870,) (28870,)

In [28]:
print(X_test.shape, y_test.shape)

(12373,) (12373,)

In [29]:
X_train.shape

(28870,)

In [30]:
X_train.describe().round(4)

count    28870.0000
mean         1.7438
std          1.7333
min          0.0000
25%          1.0000
50%          1.0000
75%          2.0000
max         31.0000
Name: home_score, dtype: float64

In [31]:
X_test.describe().round(4)

count    12373.0000
mean         1.7478
std          1.7900
min          0.0000
25%          1.0000
50%          1.0000
75%          2.0000
max         30.0000
Name: home_score, dtype: float64

**SMOTE (Synthetic Minority Oversampling Technique)**